// colors
$blue: #3c4251;
$blue-grey: #a5afd7;
$burlywood: burlywood;
$dark-blue: #333745;
$grey: #666;
$light-blue: #464b5e;
$off-black: #20222b;
$off-white: #f7f7f7;
$purple: #8357c5;

//font-size
$s-font-size: 1.4rem;
$l-font-size: 1.8rem;

// sizes
$desktop-breakpoint: 45rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;